<div class="container">
  <div class="card text-center">
    <div class="card-header">
      BERRY-AU-BAC "La Sucrerie"
    </div>
    <div class="card-body">
      <img src="../../../assets/images/obras/obraa.png" />
    </div>
    <div class="card-footer text-muted">
      Edition "Les grends Voyages"
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">denominação</th>
        <th scope="col">tecnica</th>
        <th scope="col">cor</th>
        <th scope="col">largura sm</th>
        <th scope="col">altura sm</th>
        <th scope="col">origem</th>
        <th scope="col">referencia</th>
        <th scope="col">origem</th>
        <th scope="col">data</th>
        <th scope="col">colecão</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1-096340013-0016</th>
        <td>impresso/fototipia/cartão postal</td>
        <td>papel/pigmento/fototipia</td>
        <td>monocromia</td>
        <td>13,9</td>
        <td>9</td>
        <td>França</td>
        <td>phototypie J. Bienaim ..., Reims; Libraririe L. Michaud, Reims</td>
        <td>1TM metade</td>
        <td></td>
        <td>Olga de Souza Queiroz - COSQ</td>
      </tr>
    </tbody>
  </table>
</div>