<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card text-center mt-1">
                <div class="card-header">
                  <h3>Bem-vindo(a) ao</h3>
                </div>
                <div class="card-body">
                  <p class="card-text">Visite locais e conheça novas artes.</p>
                  <a href="#" class="btn btn-warning">encontrar</a>
                </div>
                <div class="card-footer text-muted">
                  <h1 class="display-4">Art Map</h1>
                </div>
            </div>
        </div>
</div>
<app-carrosel></app-carrosel>
<app-carrosel></app-carrosel>
<app-carrosel></app-carrosel>