.map-footer-abs
{
  background-color: #8cff9e;
  height: 10%;
  width: 100%;
  bottom: 0;
  position: absolute;
  z-index: 15;
  display: flex;
  align-items: center;
}

.action-button
{
  cursor: pointer;

}