<div class="map-footer-abs">
  <div class="d-flex flex-row justify-content-between mx-2 w-100" style="height: 80%;">
    <div class="col-3 d-flex flex-column align-item-center mb-1 pt-2 justify-content-center action-button">
      <img src="../../../assets/icons/art-icon.png" style="object-fit: contain;height: 100%;width: 100%;">
      <span class="d-flex justify-content-center" style="font-size: 1.2em;">OBRAS</span>
    </div>
    <div class="col-3 d-flex flex-column align-item-center mb-1 pt-2 justify-content-center action-button">
      <img src="../../../assets/icons/museum-icon.png" style="object-fit: contain;height: 100%;width: 100%;">
      <span class="d-flex justify-content-center" style="font-size: 1.2em;">INTITUIÇOES</span>
    </div>
    <div class="col-3 d-flex flex-column align-item-center mb-1 pt-2 justify-content-center action-button">
      <img src="../../../assets/icons/route-icon.png" style="object-fit: contain;height: 100%;width: 100%;">
      <span class="d-flex justify-content-center" style="font-size: 1.2em;">ROTAS</span>
    </div>
  </div>
</div>
